<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProgressTracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>314F04DC1C4C56A4008B9A4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>314F04F51C4C56A5008B9A4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>314F05001C4C56A5008B9A4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
